
<input type="text" (keyup)="onNameKeyUp($event)">
<button (click)="getProfile()">Get Profile</button>
<br>
<p *ngIf="found" >
  {{personProfile.name}} is {{personProfile.age}} old
</p>

<hr>

<label for="name">Name</label>
<input type="text" id="name" [(ngModel)]="name">
<label for="age">Age</label>
<input type="text" id="age"  [(ngModel)]="age">
<button (click)="postProfile(name, age)">Add Profile</button>

<hr>
<button (click)="onGetAllProfiles()">Get All Profiles</button>
<ul *ngFor="let profile of allProfiles">
  <li>{{profile.name}} is {{profile.age}} years old</li>
</ul>

